<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login Page</h2>

<!-- Error message -->
<div th:if="${param.error}">
    <p style="color:red;font-weight:bold;">❌ Invalid username or password!</p>
</div>

<!-- Logout message -->
<div th:if="${param.logout}">
    <p style="color:green;font-weight:bold;">✔ Logged out successfully</p>
</div>

<form th:action="@{/do-login}" method="post">
    <label>Email:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>

</body>
</html>

